<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3><b>Thống kê</b></h3>
        </div>
        <div class="card-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="from">From:</label>
              <input
                type="date"
                id="from"
                name="dateFrom"
                [(ngModel)]="dateTime.dateFrom"
                class="form-control mx-sm-3"
              />

              <label for="to">To:</label>
              <input
                type="date"
                name="dateTo"
                [(ngModel)]="dateTime.dateTo"
                id="to"
                class="form-control mx-sm-3"
              />
            </div>
            <button
              class="btn btn-primary btn-sm"
              style="width: 50px"
              type="button"
              (click)="filter()"
            >
              Lọc
            </button>
          </form>
        </div>
        <div class="search-table-outter wrapper">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nhãn hiệu</th>
                  <th>Tên sản phẩm</th>
                  <th>Giá</th>
                  <th style="width: 140px">Số lượng tồn kho</th>
                  <th style="width: 140px">Số lượng đã bán</th>
                  <th style="width: 150px">Doanh thu</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let statistical of statisticals">
                  <td>{{ statistical.brand }}</td>
                  <td>{{ statistical.product }}</td>
                  <td>{{ statistical.price }}</td>
                  <td>{{ statistical.inventory }}</td>
                  <td>{{ statistical.soldQuantity }}</td>
                  <td>{{ statistical.revenue }}</td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <tr>
                <th>Tổng</th>
                <th></th>
                <th></th>
                <th></th>
                <th style="width: 140px">
                  {{ totalCalculator.totalInventory }}
                </th>
                <th style="width: 140px">
                  {{ totalCalculator.totalsoldQuantity }}
                </th>
                <th style="width: 150px">
                  {{ totalCalculator.totalRevenues }}
                </th>
              </tr>
            </table>
            <hr />
            <h3>Thông tin đơn hủy</h3>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nhãn hiệu</th>
                  <th>Tên sản phẩm</th>
                  <th>Giá</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orderCanceled">
                  <td>{{ order.brand }}</td>
                  <td>{{ order.product }}</td>
                  <td>{{ order.price }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
