<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3><b>Danh Sách Đơn hàng</b></h3>

          <div class="row" style="margin-top: 20px">
            <form class="form-inline">
              <div class="form-group">
                <label for="category" class="col-md-6"
                  >Tìm kiếm đơn hàng theo sdt</label
                >
                <div class="col-md-6">
                  <input
                    class="form-control"
                    name="sdt"
                    [(ngModel)]="sdt"
                  />
                </div>
              </div>
              <button
                class="btn btn-primary"
                type="button"
                (click)="searchOrderBySdt()"
              >
                Tìm kiếm
              </button>
            </form>
          </div>
        </div>
        <div class="search-table-outter wrapper">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Mã đơn hàng</th>
                  <th>Tên khách hàng</th>
                  <th>Địa chỉ nhận hàng</th>
                  <th>Số điện thoại</th>
                  <th>Trạng thái</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ca of carts">
                  <td>
                    <a
                      href="javascript:;"
                      (click)="openCartDetail(ca.id)"
                      title="Click to view details"
                      >{{ ca.orderCode }}</a
                    >
                  </td>
                  <td>{{ ca.customerName }}</td>
                  <td>{{ ca.customerAddress }}</td>
                  <td>{{ ca.customerPhoneNumber }}</td>
                  <td>{{ ca.statusName }}</td>
                  <td>
                    <button
                      (click)="openCartDetail(ca.id)"
                      class="btn btn-square btn-primary btn-sm"
                    >
                      Chi tiết
                    </button>
                    <button
                      (click)="openModalUpdate(ca)"
                      class="btn btn-square btn-success btn-sm"
                    >
                      Cập nhật
                    </button>
                    <button
                      *ngIf="ca.status < 5"
                      (click)="cancelOrder(ca.id)"
                      class="btn btn-square btn-danger btn-sm"
                    >
                      Hủy đơn hàng
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #modalUpdate="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chỉnh sửa đơn hàng</h4>
        <button
          type="button"
          class="close"
          (click)="modalUpdate.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input
              type="text"
              name="orderCode"
              readonly
              [(ngModel)]="cart.orderCode"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="customerName"
              [(ngModel)]="cart.customerName"
              class="form-control"
              placeholder="Customer Name"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="cart.customerAddress"
              name="customerAddress"
              placeholder="Customer Address"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="cart.customerPhoneNumber"
              name="customerPhoneNumber"
              placeholder="Phone Number"
            />
          </div>
          <div class="form-group">
            <select
              class="form-control"
              name="status"
              [(ngModel)]="cart.status"
            >
              <option
                *ngFor="let status of statuses"
                [value]="status.key"
                selected="cart.status == status.key"
              >
                {{ status.value }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-square btn-secondary"
          (click)="modalUpdate.hide()"
        >
          Đóng
        </button>
        <button
          type="button"
          class="btn btn-square btn-primary"
          (click)="updateCart()"
        >
          Chỉnh sửa
        </button>
      </div>
    </div>
  </div>
</div>
