<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3><b>Nhãn hiệu</b></h3>
          <div class="row" style="margin-top: 20px">
            <form class="form-inline">
              <div class="form-group">
                <label for="category" class="col-md-6">Danh mục</label>
                <div class="col-md-6">
                  <select
                    class="form-control"
                    name="categoryList"
                    id="category"
                    [(ngModel)]="categoryIdSelected"
                    (change)="getBrandByCategory($event.target.value)"
                  >
                    <option [value]="ca.id" *ngFor="let ca of categories">
                      {{ ca.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <input
                    class="form-control"
                    name="nameSearch"
                    [(ngModel)]="nameSearch"
                    placeholder="Tên nhãn hiệu"
                  />
                </div>
              </div>
              <button
                class="btn btn-primary"
                type="button"
                (click)="searchBrandByName()"
              >
                Tìm kiếm
              </button>
            </form>
          </div>
        </div>
        <span style="margin-left: 20px; font-style: italic; margin-top: 20px">
          <a (click)="openModal('', 'create')" href="javascript:;">Thêm mới</a>
        </span>
        <div class="search-table-outter wrapper">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Tên</th>
                  <th>Mô tả</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let br of brands">
                  <td>{{ br.name }}</td>
                  <td>{{ br.description }}</td>
                  <td>
                    <button
                      (click)="openModal(br, 'edit')"
                      class="btn btn-square btn-primary btn-sm"
                    >
                      Chỉnh sửa
                    </button>
                    <button
                      (click)="remove(br)"
                      class="btn btn-square btn-danger btn-sm"
                    >
                      Xóa
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #modalCreate="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ type === "create" ? "Thêm mới" : "Chỉnh sửa" }}
        </h4>
        <button
          type="button"
          class="close"
          (click)="modalCreate.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input
              type="text"
              name="name"
              [(ngModel)]="brand.name"
              class="form-control"
              placeholder="Tên nhãn hiệu"
              (change)="changeField()"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="brand.description"
              name="description"
              placeholder="Mô tả"
            />
          </div>
          <div class="form-group">
            <select
              class="form-control"
              name="categoryId"
              [(ngModel)]="brand.categoryId"
            >
              <option
                [value]="ca.id"
                *ngFor="let ca of categories"
                [selected]="ca.id == brand.categoryId"
              >
                {{ ca.name }}
              </option>
            </select>
          </div>
        </form>
        <p style="color: red">{{ messageError }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-square btn-secondary"
          (click)="modalCreate.hide()"
        >
          Đóng
        </button>
        <button
          type="button"
          class="btn btn-square btn-primary"
          (click)="save()"
        >
          Lưu lại
        </button>
      </div>
    </div>
  </div>
</div>
